@model DinoShare.ViewModels.UsersViewModelFactory.UserDetailsViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel">
    <div class="pad-all file-manager">
        <div class="fixed-fluid">
            <div class="fluid file-panel">
                <div class="bord-btm pad-ver">
                    <ol class="breadcrumb">
                        <li><a href="#">Administration</a></li>
                        <li><a href="#">Users</a></li>
                        <li class="active">Details</li>
                    </ol>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 p-4">
                            @if (!string.IsNullOrEmpty(ViewBag.Error))
                            {
                                <div class="alert alert-danger">
                                    <p>
                                        @ViewBag.Error
                                    </p>
                                </div>
                            }
                            else if (!string.IsNullOrEmpty(ViewBag.Success))
                            {
                                <div class="alert alert-success">
                                    <p>
                                        @ViewBag.Success
                                    </p>
                                </div>
                            }
                            <form asp-controller="Users" asp-action="Details" class="form-horizontal">
                                <h4>User Details</h4>
                                <div class="form-group">
                                    <label class="control-label">First Name</label>
                                    <input type="text" class="form-control" asp-for="FirstName">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Surname</label>
                                    <input type="text" class="form-control" asp-for="Surname">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Your email address</label>
                                    <input type="text" class="form-control" asp-for="EmailAddress">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">What would you like to be called</label>
                                    <input type="text" class="form-control" asp-for="DisplayName">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Account suspended</label>
                                    <input type="checkbox" asp-for="IsSuspended">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Timezone</label>
                                    <select class="form-control" asp-for="SelectedTimezone" asp-items="Model.Timezones"></select>
                                </div>
                                <h4>User Roles</h4>
                                @for (int i = 0; i < Model.UserRoles.Count; i++)
                                {
                                    <label>
                                        @Html.CheckBoxFor(m => m.UserRoles[i].Selected, new { data_eventcode = Model.UserRoles[i].EventCode })
                                        @Model.UserRoles[i].Description
                                    </label>
                                    @Html.HiddenFor(m => m.UserRoles[i].UserRoleID)
                                    @Html.HiddenFor(m => m.UserRoles[i].EventCode)
                                    @Html.HiddenFor(m => m.UserRoles[i].Description)
                                }
                                <input type="hidden" asp-for="UserID" />
                                <hr />
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <a href="/Users/Index" class="btn btn-link">Cancel</a>
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>